<app-header></app-header>
<h1 class="text-center p-3 color1">WELCOME TO SOLVERMINDS</h1>
<h4 class="color2">ERP SOLUTIONS FOR THE OCEAN SUPPLY CHAIN</h4>
<p>We provide integrated Shipping Enterprise
    Resource Planning (ERP) solutions to
    Liner Shipping and Ship Management
    companies</p>
<h4 class="color2">OPTIMIZERS FOR LINER SHIPPING COMPANIES</h4>
<p>LinerOptimizer by Solverminds is the new
    benchmark in vessel stowage, liner fleet
    scheduling and vessel deployment optimization.
    Take advantage of optimization algorithms that
    minimize liner operational costs, improve data-
    driven decisions, and maximize profitability.</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let news of metadata">
            <td>{{news.first_name}}</td>
            <td>{{news.last_name}}</td>
            <td>{{news.email}}</td>
          </tr>
          
        </tbody>
      </table>




      <h3>Angular material spiner </h3>
      <mat-spinner></mat-spinner>
     
      
      <h3>Angular material progress bar </h3>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>